<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.wck.mapper.EmployeeMapper">

    <!-- Employee getEmployeeById(Integer id);-->
    <select id="getEmployeeById" resultType="com.wck.bean.Employee">
      select * from employee where id = #{id}
    </select>
    <!--  int insertEmployee(Employee employee);-->
    <insert id="insertEmployee" >
        insert into employee(lastName,email,gender,d_id) value (#{lastName},#{email},#{gender},#{dId})
    </insert>

</mapper>